{
    "name": "ncore",
    "displayname": "nCore",
    "description": "Search on nCore.pro site.",
    "site": "https://ncore.pro/",
    "version": "{{RELEASE_VERSION}}",
    "type": "search",
    "module": "search.php",
    "class": "SynoDLMSearchNCore",
    "accountsupport": true
}
